*,
*::before,
*::after {
  margin: 0 auto;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: serif;
  font-size: 18px;
  font-weight: 400;
}
.heading1 {
  font-size: 64px;
  font-weight: 500;
}
.heading2 {
  font-size: 48px;
  font-weight: 500;
}
.nav_ul {
  padding: 15px;
  margin: 15px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav_li {
  padding-left: 0;
  font-size: 32px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #2c3e50;
}
.main {
  width: 60%;
}
.header_nav,
.header_name {
  background-color: #ffa500;
}
.header_name {
  margin: 0 0 20px 0;
  padding-left: 10px;
}
.projects_img {
  width: 300px;
  height: 169px;
}
.projects_ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.projects_li {
  margin: 0;
}
.skill_img {
  width: 25px;
}
p {
  margin: 15px 0;
}
aside {
  width: 40%;
}
.avatar {
  width: 40%;
}
.avatar_img {
  width: 100%;
}
.wrapper {
  display: flex;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
